/* Typography Import */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');


/* General Styles */

* {
  box-sizing: border-box;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  border-top: 1px solid white;
}

html,
.home-bg-img {
  height: 100vh;
  margin: 0;
  padding: 0;
  padding: 0;
  margin: 0;
}

/* Home Page Layout */

.home-content-container {
  position: relative;
  height: 100%;
  padding: 66px 0% 60px 67px;
  margin-right: 50%;
}

.home-content-text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

.home-content-container h1 {
  margin-bottom: 1.75em;
}

/* Home Page Hero Image */

.home-bg-img {
  background-image: url("img/home/home_bg.png"), linear-gradient(rgba(185,185,183,0.45),rgba(185,185,183,0.45));
  background-blend-mode: overlay;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

/* Case Study Layout */

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: flex-end;
}

.case-study-content-container {
  position: relative;
  margin: 18vh 24vw 18vh 24vw;
  padding-bottom: 18vh; /* hack to fix bottom margin not working */
  width: inherit;
}

.quotes {
  border-left: 5px solid hsla(342, 60%, 37%, 0.75);
  background-color: hsla(342, 60%, 37%, 0.05);
  padding: 12px 15px 15px 15px;
  margin: 0 5%;
  margin-bottom: 2.15em;
}

footer {
  margin-top: 5em;
}
/* Flexbox Column Layout */

.flex-grid {
  display: flex;
}

.left-col {
  padding-right: 1em;
  flex: 2.5;
}

.right-col {
  padding-left: 1em;
  flex: 1;
}

/* Persona Image Grid Layout */

.persona-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.persona-grid img {
  margin-top: 0 !important;
}

.persona-left {
  padding-right: 0.9em;
}

.persona-right {
  padding-left: 0.9em;
}

/* Typography */

h1 {
  font-weight: 500;
  font-size: 44px;
  color: #972648;
}

.home-content-text-container p {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.44em;
  color: #4d4d4c;
  margin-bottom: 1em;
}

strong,
strong a {
  font-weight: 700;
}

h2 {
  font-size: 28px;
  color: #4c4c4b;
  font-weight: 300;
  margin-bottom: 0.75em;
}

header h2 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.75em;
}

.cast-study.section {
  font-style: italic;
}

h3 {
  font-size: 18px;
  color: #972648;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 0.75em;
}

.case-study-content-container p,
.case-study-content-container em,
.case-study-content-container a,
ol,
ul,
q, {
  font-size: 21px;
  font-weight: 300;
  color: #4c4c4b;
  line-height: 1.625em;
  margin-bottom: 1.625em;
}

a {
  text-decoration-line: none;
  color: #972648;
}

.case-study-content-container ol,
.case-study-content-container ul {
  padding-left: 2em;
  line-height: 2em;
}

.case-study-content-container em,
.case-study-section {
  font-style: italic;
}

.case-study-section {
  margin-top: 4vw;
}

q {
  font-style: italic;
}

.brand-name {
  color: 4d4d4d;
  font-weight: 700;
  margin: 0;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 32px;
  font-style: italic;
  display; /* Need JS to hide when scroll */
}

/* Home Page Link Styling */

.home-content-container a {
  color: #4d4d4c;
  text-decoration-line: none;
  padding-bottom: 2px;
  border-bottom: solid 1px rgba(76,76,75,.2);
}

.home-content-container a:hover {
  border-bottom: solid 1px rgba(76,76,75,1);
  transition: border-color 170ms ease-in-out;
}

/* Images */

.bt-logo {
  height: 48px;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 700px;
  margin: 1.8em auto;
}

.case-study-bt-logo {
  margin-left: 67px;
  margin-top: 66px;
}

.case-study-project-logo {
  max-width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.case-study-project-logo {
  width: 50%;
}

iframe {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* Buttons */

.more-work-btn {
  font-size: 18px;
  font-weight: 400;
  color: #982649;
  text-decoration-line: none;
  border: 2px solid #982649;
  border-radius: 3px;
  padding: 1em 2em;
  display: table;
  margin: 0 auto;
}

.more-work-btn:hover {
  color: #FFFFFF;
  background: #982649;
  transition-delay: 25ms;
}

/* IDs */

#flex-bottom {
  margin-bottom: 0;
}

#overview-padding {
  margin-bottom: 1.5em;
}

#medium-prototype {
  margin-bottom: 4em;
}
